
@media screen and (min-width: 860px) {

    .header {
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 200px) minmax(auto, 800px) 1fr;
        align-items: center;
    }

    .logo {
        grid-column: 2/3;
    }

    .menu {
        grid-column: 3/4;
        justify-content: space-between;
        flex-direction: row;
    }

    .sidebar__item {
        width: 150px;
        margin-top: 0px;
    }

    .main {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
}