.wrapper {
    font-family: sans-serif, "Segoe UI Symbol";
    background: linear-gradient(11deg, #101214 54%, #525ddd 144%);
}


/* header block */
.logo {
    margin: 12px 0px;
}

.logo img {

    width: 100px;
    height: 100px;
}


.mod-button {
    position: relative;
    text-transform: uppercase;
    line-height: 1;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0.5em;
    color: aliceblue;
    background-color: #f0f8fd00;
}

.mod-button-animate {
    margin: 8px 0px;
    padding: 5px;
    transition: 0.5s;
}

.menu:hover .mod-button-animate {
    transform: scale(1.0);
    opacity: .2;
    filter: blur(1px);
}

.menu .mod-button-animate:hover {
    transform: scale(1.3);
    opacity: 1;
    filter: blur(0);
}

.mod-button-animate:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

.mod-button-animate:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}



/* main block */
.wrapper__grid {
    background: linear-gradient(90deg, #ff1b69, #ff0, #2196f3, #9c27b0, #ff1b69);
    box-shadow: 1px 1px 28px -12px rgba(186, 50, 251, 0.68);
    border-radius: 8px;
}

.item {
    background-color: #1f1729;
    border-radius: 3px;

}




/* footer block */
.footer {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0.5em;
}

.footer__copy {
    color: #696969;
}

.footer__text {
    color: #696969;
}




.tooltip {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 10px;
    letter-spacing: 0.4em;

    position: absolute;
    z-index: 1;
    padding: 0.45rem 8px;
    border-radius: 5px;
    background: #29343d;
    opacity: 0;
    color: #cedfe9;
    /* font-size: 0.875rem; */
    /* right: 0px; */
    transition: opacity 500ms, transform 500ms;
}



.tooltip:before {
    content: '';
    position: absolute;
    top: -9px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #29343d;
}


.mod-button:hover .tooltip,
.mod-button:focus .tooltip {

    opacity: 1;
    transform: translateY(15px);

}




/* для элемента input c type="radio" */
.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled+label::before {
    background-color: #e9ecef;
}